<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302231550683-s3r6jp6kk5jt6ruputabtgl8vgij6cn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302231550683-s3r6jp6kk5jt6ruputabtgl8vgij6cn8</string>
	<key>API_KEY</key>
	<string>AIzaSyCwmTk5yXQ-LEjMOHaudrAw5Kt4aa_fRGE</string>
	<key>GCM_SENDER_ID</key>
	<string>302231550683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceTaker</string>
	<key>PROJECT_ID</key>
	<string>login-page-data-1916c</string>
	<key>STORAGE_BUCKET</key>
	<string>login-page-data-1916c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302231550683:ios:227523311304f46e662afe</string>
	<key>DATABASE_URL</key>
	<string>https://login-page-data-1916c-default-rtdb.firebaseio.com</string>
</dict>
</plist>